/* ----------------------------------------MOBILE---------------------------------------- */
/* ----------COMIENZO CONTENIDO GENERAL---------- */

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* reseteo estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* reseteo bootstrap */
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.5;
}

p {
    margin-bottom: 0;
}

/* cuerpo */

body {
    font-family: 'Bahnschrift', sans-serif;
}

/* titulos */

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4A4F54;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 1.8rem;
}

/* textos */

p, .input-text {
    color: #88959E;
    font-weight: 200;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
}

span {
    display: block;
    font-size: 1.6rem;
}

/* enlaces */

a {
    color: #88959E;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.5;
}

/* botones */

.button {
    text-align: center;
    padding: 5rem 0 1rem 0;
}

.light-button, .transparent-button, .minimal-button {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 4rem;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.light-button {
    color: #4A4F54;
    background-color: #F4F4F3;
}

.transparent-button {
    color: #88959E;
    background-color: white;
    border: 0.2rem solid #F4F4F3;
}

.light-button:hover, .transparent-button:hover {
    color: #ffffff;
    background-color: #4A4F54;
    transition: all 0.25s ease-out;
}

.minimal-button {
    color: #5B6977;
    width: 800;
    padding: 0;
}

.minimal-button:hover {
    color: #4A4F54;
    transition: all 0.25s ease-out;
}

.button .fas {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}

.button-m-mobile {
    display: none;
}

/* iconos */

.icon {
    color: #4A4F54;
    font-size: 6.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.arrow-from-bottom {
    color: #88959E;
    font-size: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.arrow-from-bottom:hover {
    color: #4A4F54;
}

/* imagenes con transicion */

img {
    display: block;
    width: 100%;
    border-radius: 0.6rem;
}

.projects-image, .services-image, .about-image {
    position: relative;
    padding: 1rem;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 60%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.about-image-overlay {
    background-color: #ffffff;
    height: 86%;
}

.services-image-overlay {
    background-color: #ffffff;
}

.image-overlay:hover {
    opacity: 1;
}

/* transformacion de texto sobre imagenes */

.image-overlay > * {
    transform: translateY(2rem);
    transition: transform 0.25s;
    width: 90%;
}

.image-overlay:hover > * {
    transform: translateY(0);
    width: 90%;
}

/* ----------comienzo customizacion navbar bootstrap---------- */

/* logo */

.navbar img {
    border-radius: none;
    max-height: 5.2rem;
}

/* menu con gradiente */

.container-fluid {
    padding: 0.5rem 1.5rem;
}

.navbar {
    color: #4A4F54;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;
}

.navbar a {
    color: #4A4F54;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.navbar a:hover, .active {
    color: #4A4F54;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #4A4F54;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* buscador */

.form-control {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 0.1rem solid #4A4F54;
}

.form-control, .form-control::placeholder {
    color: #4A4F54;
    opacity: 1;
}

.form-control:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 0.1rem solid #4A4F54;
}

.form-control:focus::placeholder {
    color: transparent;
}

.action-icon {
    color: #4A4F54;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.action-icon i {
    font-size: 2rem;
}

/* ----------fin customizacion navbar bootstrap---------- */

/* ----------comienzo customizacion footer bootstrap---------- */

/* orden */

#footer {
    padding: 15rem 0 3rem 0;
}

/* logo */

.footer-logo {
    display: none;
}

/* enlaces */

ol, ul {
    padding-left: 0;
}

.footer-menu ul {
    list-style-type: none;
}

.footer-social, .footer-social p {
    text-align: left;
}

.footer-social i {
    color: #88959E;
    font-size: 1.6rem;
    padding: 0.7rem 0 1.5rem 0;
}

.footer-menu a:hover, .footer-social i:hover {
    color: #4A4F54;
}

/* newsletter */

.newsletter p {
    text-align: left;
    padding-bottom: 1rem;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    border: 0.1rem solid #88959E;
    padding: 0.4rem 0.8rem;
    border-radius: 0.6rem;
}

.subscribe {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border: none;
    flex-grow: 2;
    width: 50%;
}

.subscribe, .subscribe::placeholder {
    color: #88959E;
    opacity: 1;
}

.subscribe:focus {
    outline: 0;
}

.subscribe:focus::placeholder {
    color: transparent;
}

.subscribe-button{
    display: none;
}

.subscribe-form .action-icon i{
    color: #88959E;
    font-size: 1.6rem;
}

/* copyright */

.copyright {
    border-top: 0.1rem solid #88959E;
    padding-top: 3rem;
    margin-top: 1.5rem;
}

.copyright p {
    font-size: 1.4rem;
}

.copyright span {
    font-size: 1.4rem;
    padding-top: 0.5rem;
}

.copyright .footer-social {
    text-align: center;
}

/* emoji con animacion */

.heart {
    display: inline-flex;
    animation-name: beat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    0% {
        transform: scale(0.9);
    }
    5% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.9);
    }
}

/* ---------fin footer---------- */

/* ----------FIN CONTENIDO GENERAL---------- */



/* ----------COMIENZO PAGINA INDEX---------- */

/* efecto parallax */

.parallax-background {
    background-color: #ffffff;
    position: relative;
}

#header {
    height: 100vh;
}

.header {
    background-color: #F4F4F3;
    background-image: url("/img/index/museo-maritimo-shenzen.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* contenido del header */

.header-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: auto
}

.p-s-mobile, .p-m-mobile {
    color: #4A4F54;
    font-weight: 800;
    margin: auto;
    padding-bottom: 3rem;
}

.p-s-mobile {
    font-size: 1.6rem;
    width: 87%;
}

.p-m-mobile {
    display: none;
}

/* titulo con gradiente */

.cutout {
    background-image: linear-gradient(120deg, #4A4F54 0%, #5B6977 100%);
    color: white;
    mix-blend-mode: multiply;
    border-radius: 0.6rem;
    font-size: 1.8rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
}

@media (min-width: 375px) {

    /* contenido header */

    .p-s-mobile {
        display: none;
    }

    .p-m-mobile {
        display: flex;
        font-size: 1.8rem;
        width: 85%;
    }

    /* titulo con gradiente */

    .cutout {
        font-size: 2rem;
    }

}

/* boton ver mas */

.button-banner {
    margin-bottom: 5rem;
    padding: 0;
}

/* flecha ver main con animacion */

.arrow-from-top {
    color: #4A4F54;
    font-size: 3rem;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-3rem);
    }
    60% {
        transform: translateY(-1.5rem);
    }
}

.arrow-from-top:hover {
    color: #88959E;
    animation: none;
}

/* tarjetas servicios */

.card-container {
    padding: 1rem;
}

.card {
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgb(4, 8, 16, 0.1);
}

.card:hover {
    box-shadow: 0 0.8rem 1.6rem 0 rgb(4, 8, 16, 0.2);
}

.card-body {
    padding: 3rem;
}

.card img {
    border-radius: 0.6rem 0.6rem 0 0;
}

/* informacion de contacto */

.contact-info-item {
    text-align: center;
}

.map-mobile {
    width: 100%;
    padding: 1rem;
}

.map {
    display: none;
}

/* ----------FIN PAGINA INDEX---------- */



/* ----------COMIENZO PAGINA NOSOTROS---------- */

/* orden */

.architects {
    display: flex;
    justify-content: space-between;
}

/* mision */

.mision-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mision-info__item {

    text-align: center;
}

.item-content {
    width: 18rem;
    padding: 1rem;
}

/* logros */

.achievements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1rem;
}

.achievements-item {
    text-align: center;
    width: 19%;
}

.achievements-info__logo{
    display: flex;
    align-items: center;
    height: 12rem;
    width: 73%;
    margin: auto;
}

.achievements-info__logo img {
    border-radius: 0;
}

/* video */

.video {
    padding: 6rem 1rem 0 1rem;
}

.youtube-video {
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.youtube-video::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
}

.sanaa-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* tabla proyectos */

.table-projects {
    font-weight: 200;
    width: 114rem;
}

.table-projects th, td {
    font-size: 1.4rem;
    text-align: left;
    vertical-align: unset;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #88959E;
}

.table-projects li, .table-projects span {
    font-size: 1.4rem;
}

.table-projects th {
    color: #4A4F54;
    text-transform: uppercase;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.table-projects td {
    color: #88959E;
    line-height: 1.5;
}

.table-projects ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

.table-projects ul {
    list-style-type: circle;
    list-style-position: initial;
}

/* ----------FIN PAGINA NOSOTROS---------- */



/* ----------COMIENZO PAGINA SERVICIOS---------- */

/* carousel */

.services-carousel {
    padding: 0 1rem;
}

.carousel-indicators {
	bottom: -1rem;
}

.carousel-indicators [data-bs-target] {
	border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 4rem;
    height: 4rem;
}

.carousel-caption h3 {
    color: white;
}

main .services-carousel .secondary-headline{
    padding-top: 3rem;
    padding-bottom: 15rem;
}

main .services-carousel:nth-child(4) .secondary-headline{
    padding-bottom: 0;
}

.services-carousel .secondary-headline__paragraph {
    font-size: 1.8rem;
    font-weight: 200;
    text-align: center;
    text-transform: none;
}

/* ----------FIN PAGINA SERVICIOS---------- */



/* ----------COMIENZO PAGINA PROYECTOS---------- */

/* grid proyectos */

.grid-projects {
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item3"
    "item4 item5"
    "item6 item5"
    "item7 item7"
    "item8 item9";
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 0 1rem;
}

.grid-projects img {
    height: 100%;
}

.grid-projects__item--1 {
    grid-area: item1;
}

.grid-projects__item--2 {
    grid-area: item2;
}

.grid-projects__item--3 {
    grid-area: item3;
}

.grid-projects__item--4 {
    grid-area: item4;
}

.grid-projects__item--5 {
    grid-area: item5;
}

.grid-projects__item--6 {
    grid-area: item6;
}

.grid-projects__item--7 {
    grid-area: item7;
}

.grid-projects__item--8 {
    grid-area: item8;
}

.grid-projects__item--9 {
    grid-area: item9;
    background-color: #F4F4F3;
}

/* ----------FIN PAGINA PROYECTOS---------- */



/* ----------COMIENZO PAGINA CONTACTO---------- */

/* ----------comienzo formulario de contacto---------- */

/* orden */

.contact-form {
    max-width: 80rem;
    margin: auto;
    padding: 3rem 0 15rem 0;
}

.contact-flex {
    display: flex;
}

.contact-name, .contact-e-mail {
    width: 50%;
    padding-right: 1rem;
}

.contact-surname, .contact-confirmation {
    width: 50%;
    padding-left: 1rem;
}

.contact-country, .contact-social-networks {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem 3rem 2.4rem;
}

.contact-country input, .contact-social-networks input {
    margin-left: 1rem;
}

/* nombres */

.input-name {
    color: #88959E;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding-left: 2.4rem;
}

/* contenedores */

.contact-form-select, .contact-form textarea {
    color: #88959E;
    background-color: #ffffff;
    opacity: 1;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    margin: 1.5rem 0 3rem 0;
    padding: 2.2rem;
    border: 0.2rem solid #F4F4F3;
    border-radius: 0.6rem;
    width: 100%;
}

.contact-form-select::placeholder, .contact-form textarea::placeholder {
    color: #88959E;
    opacity: 1;
}

.contact-form input:focus, select:focus, textarea:focus {
    outline: 0;
}

.contact-form-select:focus::placeholder {
    color: transparent;
}

/* botones */

.form-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 114rem;
}

.form-button input {
    width: 38.5rem;
}

/* ----------fin formulario de contacto---------- */

/* ----------FIN PAGINA CONTACTO---------- */



/* ----------------------------------------TABLET---------------------------------------- */

@media (min-width: 768px) {

    /* titular principal */

    .main-headline__paragraph {
        font-size: 2.2rem;
        width: 90%;
    }

    /* logo */

    .footer-mobile-logo {
        display: none;
    }

    .footer-logo {
        display: flex;
        border-radius: none;
    }

    /* contenido del header */

    .master-headline p {
        font-size: 2.5rem;
        padding-bottom: 4rem;
    }

    /* titulo con gradiente */

    .cutout {
        font-size: 4.2rem;
        margin: 2rem auto;
    }

    /* boton ver mas */

    .button-s-mobile {
        display: none;
    }

    .button-m-mobile {
        display: flex;
    }

    .button-banner {
        margin-bottom: 10rem;
    }

    .dark-button {
        color: #F4F4F3;
        background-color: #4A4F54;
        font-family: 'Bahnschrift', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 4rem;
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
    
    .dark-button:hover {
        color: #4A4F54;
        font-weight: 700;
        background-color: #ffffff;
        transition: all 0.25s ease-out;
    }

    /* informacion de contacto */

    .map-mobile {
        display: none;
    }

    .map {
        display: flex;
        width: 100%;
        padding: 1rem;
    }

    /* carousel */

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 7rem;
        height: 7rem;
    }

    .services-carousel .secondary-headline__paragraph {
        font-size: 2rem;
        width: 90%;
    }

    /* copyright */

    .copyright p {
        font-size: 1.6rem;
    }
}

/* ----------------------------------------DESKTOP---------------------------------------- */

@media (min-width: 992px) {

    /* titular principal */

    .main-headline__paragraph {
        width: 65%;
    }

    /* titular secundario */

    .secondary-headline__title {
        font-size: 3.2rem;
    }
    
    .secondary-headline__paragraph {
        font-size: 1.8rem;
    }

    /* contenido del header */

    .master-headline p {
        width: 65%;
    }

    /* titulo con gradiente */

    .cutout {
        max-width: 70%;
    }

    /* carousel */

    .services-carousel .secondary-headline__paragraph {
        width: 65%;
    }

}



@media (min-width: 1200px) {

    /* cuerpo */

    .container {
        max-width: 114rem;
        margin: auto;  
    }

    /* titular principal */

    .main-headline__paragraph {
        width: 55%;
    }

    /* contenido del header */

    .master-headline p {
        width: 45%;
    }

    /* titulo con gradiente */

    .cutout {
        max-width: 50%;
    }

}



@media (min-width: 1400px) {

    /* contenido del header */

    .master-headline p {
        width: 35%;
    }

}