/* ----------------------------------------TABLET---------------------------------------- */

@media (min-width: 768px) {

    /* titular principal */

    .main-headline__paragraph {
        font-size: 2.2rem;
        width: 90%;
    }

    /* logo */

    .footer-mobile-logo {
        display: none;
    }

    .footer-logo {
        display: flex;
        border-radius: none;
    }

    /* contenido del header */

    .master-headline p {
        font-size: 2.5rem;
        padding-bottom: 4rem;
    }

    /* titulo con gradiente */

    .cutout {
        font-size: 4.2rem;
        margin: 2rem auto;
    }

    /* boton ver mas */

    .button-s-mobile {
        display: none;
    }

    .button-m-mobile {
        display: flex;
    }

    .button-banner {
        margin-bottom: 10rem;
    }

    .dark-button {
        color: #F4F4F3;
        background-color: #4A4F54;
        font-family: 'Bahnschrift', sans-serif;
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2rem 4rem;
        border: none;
        border-radius: 0.6rem;
        cursor: pointer;
        transition: all 0.5s ease-out;
    }
    
    .dark-button:hover {
        color: #4A4F54;
        font-weight: 700;
        background-color: #ffffff;
        transition: all 0.25s ease-out;
    }

    /* informacion de contacto */

    .map-mobile {
        display: none;
    }

    .map {
        display: flex;
        width: 100%;
        padding: 1rem;
    }

    /* carousel */

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 7rem;
        height: 7rem;
    }

    .services-carousel .secondary-headline__paragraph {
        font-size: 2rem;
        width: 90%;
    }

    /* copyright */

    .copyright p {
        font-size: 1.6rem;
    }
}

/* ----------------------------------------DESKTOP---------------------------------------- */

@media (min-width: 992px) {

    /* titular principal */

    .main-headline__paragraph {
        width: 65%;
    }

    /* titular secundario */

    .secondary-headline__title {
        font-size: 3.2rem;
    }
    
    .secondary-headline__paragraph {
        font-size: 1.8rem;
    }

    /* contenido del header */

    .master-headline p {
        width: 65%;
    }

    /* titulo con gradiente */

    .cutout {
        max-width: 70%;
    }

    /* carousel */

    .services-carousel .secondary-headline__paragraph {
        width: 65%;
    }

}



@media (min-width: 1200px) {

    /* cuerpo */

    .container {
        max-width: 114rem;
        margin: auto;  
    }

    /* titular principal */

    .main-headline__paragraph {
        width: 55%;
    }

    /* contenido del header */

    .master-headline p {
        width: 45%;
    }

    /* titulo con gradiente */

    .cutout {
        max-width: 50%;
    }

}



@media (min-width: 1400px) {

    /* contenido del header */

    .master-headline p {
        width: 35%;
    }

}