.vscode/
node_modules/

!node_modules/
node_modules/*

!node_modules/jquery/
node_modules/jquery/*
!node_modules/jquery/dist/
node_modules/jquery/dist/*
!node_modules/jquery/dist/jquery.min.js

!node_modules/popper.js/
node_modules/popper.js/*
!node_modules/popper.js/dist/
node_modules/popper.js/dist/*
!node_modules/popper.js/dist/umd/
node_modules/popper.js/dist/umd/*
!node_modules/popper.js/dist/umd/popper.min.js

!node_modules/bootstrap/