/* ----------COMIENZO CONTENIDO GENERAL---------- */

/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* reseteo estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* cuerpo */

body {
    font-family: 'Bahnschrift', sans-serif;
}

.margins {
    max-width: 1140px;
    margin: auto;  
}

/* titulos */

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #4A4F54;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 5.2rem;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 1.8rem;
}

/* textos */

p, .input-text {
    color: #88959E;
    font-weight: 200;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
}

span {
    display: block;
    font-size: 1.6rem;
    padding-top: 15px;
}

/* enlaces */

a {
    color: #88959E;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1.5;
}

/* botones */

.button {
    text-align: center;
    padding: 50px 0 15px 0;
}

.dark-button, .light-button {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.dark-button {
    color: #F4F4F3;
    background-color: #4A4F54;
}

.dark-button:hover {
    color: #4A4F54;
    font-weight: 700;
    background-color: #ffffff;
    transition: all 0.25s ease-out;
}

.light-button {
    color: #4A4F54;
    background-color: #F4F4F3;
}

.light-button:hover {
    color: #ffffff;
    background-color: #4A4F54;
    transition: all 0.25s ease-out;
}

/* iconos */

.icon {
    color: #4A4F54;
    font-size: 6.5rem;
    padding-bottom: 15px;
    text-align: center;
}

.arrow-from-bottom {
    color: #88959E;
    font-size: 3rem;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.arrow-from-bottom:hover {
    color: #4A4F54;
}

/* imagenes con transicion */

img {
    border-radius: 6px;
    width: 100%;
    display: block;
}

.projects-image, .services-image, .about-image {
    position: relative;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 60%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.about-image-overlay {
    background-color: #ffffff;
    height: 86%;
}

.services-image-overlay {
    background-color: #ffffff;
}

.image-overlay:hover {
    opacity: 1;
}

/* transformacion de texto sobre imagenes */

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
    width: 70%;
}

.image-overlay:hover > * {
    transform: translateY(0);
    width: 70%;
}

/* titular principal */

.main-headline {
    display: flex;
    flex-flow: column;
    padding: 150px 0 30px 0;
}

.main-headline p {
    color: #5B6977;
    font-size: 2.2rem;
    font-weight: 400;
    width: 58%;
    place-self: center;
}

section .main-headline p {
    font-weight: 200;
}

/* titular secundario */

.secondary-headline {
    padding-top: 30px;
}

.secondary-headline h2, .secondary-headline h3 {
    font-size: 3.2rem;
    text-transform: none;
}

.secondary-headline p {
    color: #5B6977;
    font-weight: 400;
    font-stretch: semi-condensed;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.architects .secondary-headline h2 {
    text-transform: uppercase;
}

.extra-padding {
    padding-bottom: 150px;
}

/* titular terciario */

.tertiary-headline {
    padding-top: 15px;
}

.tertiary-headline h3 {
    color: #88959E;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    text-align: center;
    text-transform: none;
    line-height: 1.5;
}

.tertiary-headline p {
    color: #4A4F54;
    font-weight: 600;
    font-size: 1.8rem;
}

/* ----------comienzo modificaciones navbar bootstrap---------- */

/* logo */

.navbar img {
    border-radius: none;
    max-height: 52px;
}

/* menu con gradiente */

.navbar {
    color: #4A4F54;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
}

.navbar a {
    color: #4A4F54;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.navbar a:hover, .active {
    color: #4A4F54;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #4A4F54;
}

/* buscador */

.form-control {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #4A4F54;
}

.form-control, .form-control::placeholder {
    color: #4A4F54;
    opacity: 1;
}

.form-control:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #4A4F54;
}

.form-control:focus::placeholder {
    color: transparent;
}

.action-icon {
    color: #4A4F54;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.action-icon i {
    font-size: 2rem;
}

/* ----------fin modificaciones navbar bootstrap---------- */

/* ----------comienzo footer---------- */

/* orden */

footer {
    padding: 150px 0 30px 0;
}

.footer-info img {
    border-radius: none;
    max-height: 42px;
    width: auto;
}

/* enlaces */

.footer-menu ul {
    list-style-type: none;
}

.footer-social {
    text-align-last: center;
}

.footer-social i {
    color: #88959E;
    font-size: 1.6rem;
    padding: 7px 0 15px 0;
}

.footer-menu a:hover, .footer-social i:hover {
    color: #4A4F54;
}

/* newsletter */

.newsletter p {
    text-align: left;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    border: 1px solid #88959E;
    padding: 4px 8px;
    border-radius: 6px;
}

.subscribe {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    border: none;
    flex-grow: 2;
}

.subscribe, .subscribe::placeholder {
    color: #88959E;
    opacity: 1;
}

.subscribe:focus {
    outline: 0;
}

.subscribe:focus::placeholder {
    color: transparent;
}

.subscribe-button{
    display: none;
}

.subscribe-form .action-icon i{
    color: #88959E;
    font-size: 1.6rem;
}

/* copyright */

.copyright {
    border-top: 1px solid #88959E;
    padding-top: 30px;
    text-align: center;
}

.copyright span {
    font-size: 1.4rem;
    padding-top: 5px;
}

/* emoji con animacion */

.heart {
    display: inline-flex;
    animation-name: beat;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

@keyframes beat {
    0% {
        transform: scale(0.9);
    }
    5% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(0.9);
    }
}

/* ---------fin footer---------- */

/* ----------FIN CONTENIDO GENERAL---------- */



/* ----------COMIENZO PAGINA INDEX---------- */

/* efecto parallax */

.parallax-background {
    background-color: #ffffff;
    position: relative;
}

#header {
    height: 100vh;
}

.header {
    background-color: #F4F4F3;
    background-image: url(./img/museo-maritimo-shenzen.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* contenido del header */

.header-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: auto
}

.master-headline p {
    color: #4A4F54;
    font-size: 2.5rem;
    font-weight: 800;
    width: 36%;
    margin: auto;
    padding-bottom: 40px;
}

/* titulo con gradiente */

.cutout {
    background-image: linear-gradient(120deg, #4A4F54 0%, #5B6977 100%);
    color: white;
    mix-blend-mode: multiply;
    font-size: 3vw;
    padding: 10px;
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* boton ver mas */

.button-banner {
    margin-bottom: 100px;
    padding: 0;
}

/* flecha ver main con animacion */

.arrow-from-top {
    color: #4A4F54;
    font-size: 3rem;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.arrow-from-top:hover {
    color: #88959E;
    animation: none;
}

/* tarjetas servicios */

/* .services-container{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
} */

.card {
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(4, 8, 16, 0.1);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(4, 8, 16, 0.2);
}

.card-body {
    padding: 30px;
}

.card img {
    border-radius: 6px 6px 0 0;
}

/* informacion de contacto */

/* .contact-container{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
} */

.contact-info-item {
    text-align: center;
}

.map {
    width: 100%;
}

/* ----------FIN PAGINA INDEX---------- */



/* ----------COMIENZO PAGINA NOSOTROS---------- */

/* orden */

.architects {
    display: flex;
    justify-content: space-between;
}

/* mision */

.mision-info {
    display: flex;
    justify-content: space-around;
}

.mision-info-item {
    text-align: center;
}

.youtube-video {
    padding-top: 60px;
}

/* tabla proyectos */

.projects-container{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.table-projects {
    font-weight: 200;
    width: 1140px;
}

.table-projects th, td {
    font-size: 1.4rem;
    text-align: left;
    vertical-align: unset;
    padding: 15px;
    border-bottom: 1px solid #88959E;
}

.table-projects li, .table-projects span {
    font-size: 1.4rem;
}

.table-projects th {
    color: #4A4F54;
    text-transform: uppercase;
    padding: 0 15px 15px 15px;
}

.table-projects td {
    color: #88959E;
    line-height: 1.5;
}

.table-projects ol {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}

.table-projects ul {
    list-style-type: circle;
    list-style-position: initial;
}

/* logros */

.achievements-info {
    display: flex;
    justify-content: space-around;
}

.achievements-info-item {
    text-align: center;
    width: 19%;
}

.achievements-info-item img{
    width: 73%;
}

.achievements-info-logo{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------FIN PAGINA NOSOTROS---------- */



/* ----------COMIENZO PAGINA PROYECTOS---------- */

/* grid proyectos */

.grid-projects-container {
    display: grid;
    grid-template-areas: 
    "item1 item2"
    "item3 item3"
    "item4 item5"
    "item6 item5"
    "item7 item7"
    "item8 item9";
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.grid-projects-container img {
    height: 100%;
}

.grid-projects-item1 {
    grid-area: item1;
}

.grid-projects-item2 {
    grid-area: item2;
}

.grid-projects-item3 {
    grid-area: item3;
}

.grid-projects-item4 {
    grid-area: item4;
}

.grid-projects-item5 {
    grid-area: item5;
}

.grid-projects-item6 {
    grid-area: item6;
}

.grid-projects-item7 {
    grid-area: item7;
}

.grid-projects-item8 {
    grid-area: item8;
}

.grid-projects-item9 {
    grid-area: item9;
    background-color: #F4F4F3;
}

/* ----------FIN PAGINA PROYECTOS---------- */



/* ----------COMIENZO PAGINA CONTACTO---------- */

/* ----------comienzo formulario de contacto---------- */

/* orden */

.contact-form {
    max-width: 800px;
    margin: auto;
    padding: 30px 0 150px 0;
}

.contact-flex {
    display: flex;
}

.contact-name, .contact-e-mail {
    width: 50%;
    padding-right: 10px;
}

.contact-surname, .contact-confirmation {
    width: 50%;
    padding-left: 10px;
}

.contact-country, .contact-social-networks {
    display: flex;
    align-items: center;
    padding: 15px 50px 30px 24px;
}

.contact-country input, .contact-social-networks input {
    margin-left: 10px;
}

/* nombres */

.input-name {
    color: #88959E;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    padding-left: 24px;
}

/* contenedores */

.contact-form-select, .contact-form textarea {
    color: #88959E;
    background-color: #ffffff;
    opacity: 1;
    font-family: 'Bahnschrift', sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    margin: 15px 0 30px 0;
    padding: 22px;
    border: 2px solid #F4F4F3;
    border-radius: 6px;
    width: 100%;
}

.contact-form-select::placeholder, .contact-form textarea::placeholder {
    color: #88959E;
    opacity: 1;
}

.contact-form input:focus, select:focus, textarea:focus {
    outline: 0;
}

.contact-form-select:focus::placeholder {
    color: transparent;
}

/* botones */

.form-button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1140px;
}

.form-button input {
    width: 385px;
}

/* ----------fin formulario de contacto---------- */

/* ----------FIN PAGINA CONTACTO---------- */


@media (max-width: 768px) { 
    .master-headline p{
        width: 85%;
        font-size: 1.7rem;
    } 
    .cutout{
        font-size: 2rem;
        width: 92%;
    }
    .button-banner{
        margin-bottom: 60px;
    }
    .dark-button{
        font-size: 1.4rem;
        padding: 15px 45px;
    }
}