/* ----------apertura informacion de contacto---------- */

.contact-info-item {
    text-align: center;
}

.map-mobile {
    display: block;
    padding: 1.5rem;

    @media (min-width: $md) { display: none; }
}

.map {
    display: none;
    padding: 1.5rem;

    @media (min-width: $md) { display: block; }
}

/* ----------cierre informacion de contacto---------- */
