// CHECKEAR RESPONSIVE Y LOGO

/* ----------apertura footer---------- */

#footer {
    padding: 15rem 0 3rem 0;

    .footer-logo {
        display: none;
    }

    .footer-menu {
        ul {
            list-style-type: none;
            padding-left: 0;
        }

        a:hover {
            color: $dark-grey;
        }
    }

    .footer-social {
        p {
            text-align: left;
        }

        i {
            color: $medium-grey;
            font-size: $normal-text;
            padding: 0.7rem 0 1.5rem 0;

            &:hover {
                color: $dark-grey;
            }
        }
    }

    .newsletter {
        p {
            text-align: left;
            padding-bottom: 1rem;
        }
    
        .subscribe-form {
            display: flex;
            flex-direction: row;
            border: 0.1rem solid $medium-grey;
            padding: 0.4rem 0.8rem;
            border-radius: 0.6rem;
    
            .subscribe {
                font-family: $default-font;
                font-weight: $regular;
                font-size: $small-text;
                border: none;
                flex-grow: 2;
                width: 50%;
    
                // mismo estilo que .subscribe::placeholder
    
                color: $medium-grey;
                opacity: 1;
    
                &::placeholder {
                    color: $medium-grey;
                    opacity: 1;
                }
    
                &:focus {
                    outline: 0;
                }
    
                &:focus::placeholder {
                    color: transparent;
                }
            }
    
            .subscribe-button {
                display: none;
            }
        }
    }
    
    .copyright {
        border-top: 0.1rem solid $medium-grey;
        padding-top: 3rem;
        margin-top: 1.5rem;
    
        p {
            font-size: $small-text;
        }
    
        span {
            font-size: $small-text;
            padding-top: 0.5rem;

            .heart {
                display: inline-flex;
                animation-name: beat;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;

                @keyframes beat {
                    0% {
                        transform: scale(0.9);
                    }
                    5% {
                        transform: scale(1);
                    }
                    10% {
                        transform: scale(0.9);
                    }
                    15% {
                        transform: scale(1.1);
                    }
                    50% {
                        transform: scale(0.9);
                    }
                    100% {
                        transform: scale(0.9);
                    }
                }
            }
        }
    
        .footer-social {
            text-align: center;
        }
    }
}

/* ---------cierre footer---------- */