/* ----------apertura grid---------- */

.grid-projects {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    padding: 1.5rem;
    margin: auto;

    img { height: 100%; }

    @media (min-width: $md) {
        grid-template-areas: 
            "item1 item2"
            "item3 item3"
            "item4 item5"
            "item6 item5"
            "item7 item7"
            "item8 item9";
        grid-template-rows: repeat(1fr, 2fr, 1fr, 1fr, 2fr, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;

        &--item-1 { grid-area: item1; }
        &--item-2 { grid-area: item2; }
        &--item-3 { grid-area: item3; }
        &--item-4 { grid-area: item4; }
        &--item-5 { grid-area: item5; }
        &--item-6 { grid-area: item6; }
        &--item-7 { grid-area: item7; }
        &--item-8 { grid-area: item8; }
        &--item-9 { grid-area: item9; }
    }
}

/* ----------cierre grid---------- */