// -------------------- HEADER

/* ----------apertura header---------- */

/* ---efecto parallax--- */

.parallax-background {
    background-color: $white;
    position: relative;
}

/* ---header--- */

#header {
    height: 100vh;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../img/index/museo-maritimo-shenzen.jpeg");
        background: {
            color: #F4F4F3;
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
            position: center;
        }
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        // contenido

        .header-content {
            @include flex(column, nowrap, center);

            margin-top: auto;

            // titulo

            .master-headline {
                @include flex(column, nowrap, center);

                .cutout {
                    background-image: linear-gradient(120deg, $gray-800 0%, $gray-600 100%);
                    color: $white;
                    mix-blend-mode: normal;
                    font-size: $normal-text;
                    border-radius: 0.6rem;
                    padding: 1rem 2rem;
                    margin: 1.5rem;

                    @media (min-width: $sm) { font-size: $small-title; }
                    @media (min-width: $md) { font-size: $normal-title; }
                    @media (min-width: $xl) { font-size: $big-title; }
                }
            }

            // texto

            .description {
                    display: flex;
                    justify-content: center;
                    width: 85%;
                
                    p {
                    color: #4A4F54;
                    font-weight: 800;
                    padding-bottom: 2.5rem;
                    margin: auto;

                    @media (min-width: $md) {
                        content: "";
                        font-size: 0;

                        &::after{
                            font-size: $normal-text;
                            content: "SANAA es una firma de arquitectos fundada en 1995, por Kazuyo Sejima y Ryue Nishizawa, en Tokio. Ha sido galardonada con el Premio Pritzker de Arquitectura 2010.";
                            font-size: 2.5rem;
                        }
                    }
                    
                    @media (min-width: $lg) { width: 80%; }
                    @media (min-width: $xl) { width: 65%; }
                    @media (min-width: $xxl) { width: 45%; }
                }
            }

            // flecha ir hacia abajo

            .arrow-from-top {
                color: $gray-800;
                font-size: 3rem;
                animation: {
                    name: bounce;
                    duration: 2s;
                    iteration-count: infinite;
                }

                &:hover {
                    color: $gray-400;
                    animation: none;
                }

                @keyframes bounce {
                    0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
                    40% { transform: translateY(-3rem); }
                    60% { transform: translateY(-1.5rem); }
                }
            }
        }
    }
}

/* ----------cierre grid---------- */