// CHECKEAR RESPONSIVE

/* ----------apertura header---------- */

#header {
    height: 100vh;

    .header {
        background-color: $light-grey;
        background-image: url("/img/index/museo-maritimo-shenzen.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header-content {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: auto;

            .master-headline {
                .cutout {
                    background-image: linear-gradient(120deg, $dark-grey 0%, $bluish-grey 100%);
                    color: white;
                    mix-blend-mode: multiply;
                    border-radius: 0.6rem;
                    font-size: 1.8rem;
                    padding: 1rem;
                    margin: 1rem auto;
                    width: 90%;
                }

                .p-s-mobile, .p-m-mobile {
                    color: $dark-grey;
                    font-weight: 800;
                    margin: auto;
                    padding-bottom: 3rem;
                }
                
                .p-s-mobile {
                    font-size: 1.6rem;
                    width: 87%;
                }
                
                .p-m-mobile {
                    display: none;
                }
            }

            .button-banner {
                margin-bottom: 5rem;
                padding: 0;
            }

            .arrow-from-top {
                color: $dark-grey;
                font-size: 3rem;
                animation-name: bounce;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                &:hover {
                    color: $medium-grey;
                    animation: none;
                }

                @keyframes bounce {
                    0%, 20%, 50%, 80%, 100% {
                        transform: translateY(0);
                    }
                    40% {
                        transform: translateY(-3rem);
                    }
                    60% {
                        transform: translateY(-1.5rem);
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) {

    /* contenido header */

    .p-s-mobile {
        display: none;
    }

    .p-m-mobile {
        display: flex;
        font-size: 1.8rem;
        width: 85%;
    }

    /* titulo con gradiente */

    .cutout {
        font-size: 2rem;
    }

}

/* ----------cierre header---------- */