/* ----------apertura navbar---------- */

.navbar {
    color: $dark-grey;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;

    .container-fluid {
        padding: 0.5rem 1.5rem;

        img {
            border-radius: none;
            max-height: 5.2rem;
        }
    
        .navbar-toggler {
            border: none;
        
            &:focus {
                box-shadow: none;
            }
        }
    
        a {
            @include text($dark-grey, $medium-text, $thin, center, uppercase, normal);
    
            &:hover {
                font-weight: $bold;
            }
        }
    
        .active {
            @include text($dark-grey, $medium-text, $bold, center, uppercase, normal);
        }
    
        .form-control {
            @include text($dark-grey, $small-text, $medium, left, none, normal);
            @include nav-form;
            color: $dark-grey;
            opacity: 1;
    
            &::placeholder {
                color: $dark-grey;
                opacity: 1;
            }
    
            &:focus {
                @include nav-form;
                outline: none;
                box-shadow: none;
            }
    
            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link.active {
            color: $dark-grey;
        }
    }
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            text-align-last: left;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
}

/* ----------cierre navbar---------- */