// CHECKEAR TEMA BOOTSTRAP

/* ----------apertura navbar---------- */

.navbar {
    color: $dark-grey;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 0;

    .container-fluid {
        padding: 0.5rem 1.5rem;

        // navbar-brand en vez de img

        img {
            border-radius: none;
            max-height: 5.2rem;
        }
    
        .navbar-toggler {
            border: none;
        
            &:focus {
                box-shadow: none;
            }
        }
    
        a {
            color: $dark-grey;
            font-size: $medium-text;
            text-transform: uppercase;
    
            &:hover {
                color: $dark-grey;
                font-weight: $bold;
            }
        }
    
        .active {
            color: $dark-grey;
            font-weight: $bold;
        }
    
        .form-control {
            font-family: $default-font;
            font-size: $small-text;
            border: none;
            background-color: transparent;
            border-radius: 0;
            border-bottom: 0.1rem solid $dark-grey;
    
            // mismas propiedades

            color: $dark-grey;
            opacity: 1;
    
            &::placeholder {
                color: $dark-grey;
                opacity: 1;
            }
    
            &:focus {
                background-color: transparent;
                outline: none;
                box-shadow: none;
                border: none;
                border-radius: 0;
                border-bottom: 0.1rem solid $dark-grey;
            }
    
            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link.active {
            color: $dark-grey;
        }
    }
}

.navbar-expand-lg {
    .navbar-nav {
        .nav-link {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
}

/* ----------cierre navbar---------- */