// CHECKEAR RESPONSIVE

/* ----------apertura table---------- */

.table-projects {
    font-weight: 200;
    width: 114rem;

    th, td {
        font-size: 1.4rem;
        text-align: left;
        vertical-align: unset;
        padding: 1.5rem;
        border-bottom: 0.1rem solid $light-grey;
    }

    th {
        color: $dark-grey;
        text-transform: uppercase;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    td {
        color: $medium-grey;
        line-height: 1.5;
    }

    ol {
        list: {
            style-type: decimal-leading-zero;
            style-position: inside;
        }
    }

    ul {
        list: {
            style-type: circle;
            style-position: initial;
        }
    }

    li, span {
        font-size: 1.4rem;
    }
}

/* ----------cierre table---------- */