/* ----------apertura tabla---------- */

.table-projects {
    margin: auto;

    tr {
        .desktop-table {
            display: none;
    
            @media (min-width: $md) {
                display: revert;
            }
        }
    }

    th, td {
        vertical-align: unset;
        padding: 1.5rem;
        border-bottom: 0.1rem solid $gray-400;
    }

    th {
        @include text($gray-800, $small-text, $font-weight-bolder, left, uppercase, normal);
        padding: 1.5rem;
    }

    td, li {
        @include text($gray-400, $small-text, $font-weight-light, left, none, normal);
    }

    ol {
        list-style-type: decimal-leading-zero;
    }

    ul {
        list: {
            style-type: circle;
            style-position: initial;
        }
    }

    span {
        font-size: $small-text;
        text-align: left;
    }

    @media (min-width: $md) {
        font-size: $small-title;
    }
}

/* ----------cierre tabla---------- */