/* -------botones------- */

.button {
    text-align: center;
    padding: 5rem 0 1rem 0;
}   

.light-button {
    @include button;
    color: $gray-800;
    background-color: $gray-200;

    &:hover {
        color: $white;
        background-color: $gray-800;
        transition: all 0.25s ease-out;
    }
}

.transparent-button {
    @include button;
    color: $gray-400;
    background-color: $white;
    border: 0.2rem solid $gray-200;

    &:hover {
        color: $white;
        background-color: $gray-800;
        transition: all 0.25s ease-out;
    }
}

.minimal-button {
    @include button;
    color: $gray-600;
    width: 800;
    padding: 0;

    &:hover {
        color: $gray-800;
        transition: all 0.25s ease-out;
    }
}

.fas {
    font-size: 1.5rem;
    padding-left: 0.5rem;
}


/* -------boton nav------- */

.action-icon {
    color: $gray-800;
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
        font-size: 2rem;
    }
}

/* -------boton footer------- */

.subscribe-form {
    .action-icon {
        i {
            color: $gray-400;
            font-size: $normal-text;
        }
    }
}

/* -------boton form------- */

.form-button {
    @include flex(row, wrap, space-evenly);

    input {
        width: 30rem;
        margin: 3rem 1rem 0 1rem;
    }
}

/* -------boton error 404------- */

.error-button {
    @include flex(row, wrap, center);

    a {
        width: 18rem;
        margin: 2rem;
    }
}