// CHECKEAR BOOTSTRAP Y RESPONSIVE (FLECHITAS)

/* -------carousel------- */

.services-carousel {
    padding: 0 1rem;

    .carousel-indicators {
        bottom: -1rem;
    }

    & [data-bs-target] {
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }

    &:nth-child(4) .secondary-headline {
        padding-bottom: 0;
    }

    .carousel-caption h3 {
        color: $white;
    }

    .secondary-headline {
        padding-top: 3rem;
        padding-bottom: 15rem;
    
        .secondary-headline__paragraph {
            font-size: $medium-text;
            font-weight: $thin;
            text-align: center;
            text-transform: none;
        }
    }

    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 4rem;
        height: 4rem;
    }
}
