/* -------tarjetas------- */

.card-container {
    padding: 1rem;

    .card {
        border: none;
        border-radius: 0.6rem;
        box-shadow: 0 0.4rem 0.8rem 0 rgba(4, 8, 16, 0.1);

        &:hover {
            box-shadow: 0 0.8rem $normal-text 0 rgba(4, 8, 16, 0.2);
        }

        img {
            border-radius: 0.6rem 0.6rem 0 0;
        }

        .card-body {
            padding: 3rem;
        }
    }
}