/* iconos */

.icon {
    color: #4A4F54;
    font-size: 6.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.arrow-from-bottom {
    color: #88959E;
    font-size: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.arrow-from-bottom:hover {
    color: #4A4F54;
}