/* -------iconos------- */

.icon {
    color: $dark-grey;
    font-size: 6.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.arrow-from-bottom {
    color: $medium-grey;
    font-size: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    &:hover {
        color: $dark-grey;
    }
}
