/* -------iconos------- */

.icon {
    color: $gray-800;
    font-size: 6.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.arrow-from-bottom {
    color: $gray-400;
    font-size: 3rem;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;

    &:hover { color: $gray-800; }
}

.footer-social {
    a { padding: .4rem; }
}