/* ----------APERTURA NOSOTROS---------- */

/* nosotros */

.architects {
    @include flex(column, nowrap, center);
    width: 95%;
    padding: 1.5rem;
    margin: auto;

    @media (min-width: $md) {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-image {
        img {
            width: 95%;
            margin: auto;
        }

        .image-overlay {
            display: none;
        }

        @media (min-width: $md) {
            @include image-overlay($white);
        }

        .image-overlay__text {
            text-align: justify;

            span {
                @extend .image-overlay__text;
            }
        }
    }
}

/* mision */

.mision-info {
    @include flex(row, wrap, space-evenly);

    .mision-info__item {
        text-align: center;
    }
    
    .item-content {
        padding: 1rem;
        width: 18rem;
    }
}

/* logros */

.achievements {
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    justify-content: space-evenly;

    .achievements-item {
        text-align: center;
        width: 18rem;
        padding: 1rem;
    
        .achievements-info__logo{
            @include flex(column, nowrap, center);
            height: 12rem;
            width: 73%;
            margin: auto;

            .prize {
                @include image(0);
            }
        }
    }
}

/* ----------CIERRE NOSOTROS---------- */