/* reset estilos */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

/* reset bootstrap */

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.5;
}

p {
    margin-bottom: 0;
}