/* -------google fonts------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* -------cuerpo------- */

body {
    font-family: $default-font;
}

/* -------titulos------- */

h1, h2, h3 {
    font-family: $custom-font;
    color: $dark-grey;
    font-weight: $bold;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: $big-title;
}

h2 {
    font-size: $normal-title;
}

h3 {
    font-size: $medium-text;
}

/* -------textos------- */

p, .input-text {
    color: $medium-grey;
    font-weight: $thin;
    font-size: $normal-text;
    text-align: center;
    line-height: 1.5;
}

span {
    display: block;
    font-size: $normal-text;
}

/* -------enlaces------- */

a {
    color: $medium-grey;
    font-family: $default-font;
    font-weight: $thin;
    font-size: $normal-text;
    text-decoration: none;
    line-height: 1.5;
}

/* -------titular principal------- */

.main-headline {
    @include display(flex, column, center);
    padding: 15rem 1rem 1.5rem 1rem;
        .main-headline__paragraph {
            color: $bluish-grey;
            font: {
                size: $medium-text;
                weight: $thin;
            }
            place-self: center;
            @media (min-width: $tablet) {
                font-size: $big-text;
                width: 90%;
            }
            @media (min-width: $desktop-l) {
                width: 65%;
            }
            @media (min-width: $desktop-xl) {
                width: 55%;
            }
        }
        .main-headline__paragraph {
            font-weight: $thin;
        }
}

/* -------titular secundario------- */

.secondary-headline {
    @extend .main-headline;
    padding: 0;
        .secondary-headline__title {
            font-size: $big-text;
            text-transform: none;
            @media (min-width: $desktop-l) {
                font-size: $small-title;
            }
        }
        .secondary-headline__paragraph {
            color: $bluish-grey;
            font: {
                size: $normal-text;
                weight: $regular;
                stretch: semi-condensed;
            }
            text-transform: uppercase;
            @media (min-width: $desktop-l) {
                font-size: $medium-text;
            }
        }
}

.architects {
    .secondary-headline {
        .secondary-headline__title {
            text-transform: uppercase;
        }
    }
}

.services-carousel {
    .secondary-headline {
        .secondary-headline__paragraph {
            font: {
                size: $medium-text;
                weight: $thin;
            }
            text: {
                align: center;
                transform: none;
            }
            @media (min-width: $tablet) {
                font-size: 2rem;
                width: 90%;
            }
            @media (min-width: $desktop-l) {
                width: 65%;
            }
        }
    }
}

/* -------titular terciario------- */

.tertiary-headline {
    @extend .secondary-headline;
    padding-top: 1.5rem;
        .tertiary-headline__title {
            color: $medium-grey;
            font: {
                family: $default-font;
                weight: $thin;
                size: $normal-text;
            }
            text: {
                align: center;
                transform: none;
            }
            line-height: 1.5;
        }
        .tertiary-headline__paragraph {
            color: $dark-grey;
            font: {
                weight: $medium;
                size: $medium-text;
            }
        }
}