// -------------------- VARIABLES PROPIAS

// fuentes

$default-font: 'Bahnschrift', sans-serif;
$custom-font: 'Roboto Condensed', sans-serif;

// tamaño de tipografia para titulos

$big-title: 5.2rem;
$normal-title: 4.2rem;
$small-title: 3.2rem;

// tamaño de tipografia para textos

$big-text: 2.2rem;
$medium-text: 1.8rem;
$normal-text: 1.6rem;
$small-text: 1.4rem;

// -------------------- VARIABLES BOOTSTRAP

// breakpoints (mobile first)

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// -------------------- VARIABLES PERSONALIZADAS BOOTSTRAP

// colores

$white: #ffffff;
$gray-200: #F4F4F3;
$gray-400: #88959E;
$gray-600: #5B6977;
$gray-800: #4A4F54;

// grosores de tipografias

$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 800;

// otros

$utilities-bg: ();
$utilities-text: ();

// -------------------- VARIABLES ORIGINALES BOOTSTRAP

@import "../../bootstrap/scss/variables";