// -------------------- VARIABLES

// color palette

$dark-grey: #4A4F54;
$bluish-grey: #5B6977;
$medium-grey: #88959E;
$light-grey: #F4F4F3;
$white: #ffffff;


// dimensions


// fonts

$default-font: 'Bahnschrift', sans-serif;
$custom-font: 'Roboto Condensed', sans-serif;
$weight: 200;

// shadows


// breakpoints

$tablet: 768px;
$desktop-l: 992px;
$desktop-xl: 1200px;
$desktop-xxl: 1400px;